<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span>Пользователь: {{::catalogCtrl.user.name}}</span>
            <span>Справочник: {{::catalogCtrl.currentCatalog}}</span>
            <button type="button" class="btn btn-primary navbar-btn" ng-click="catalogCtrl.navigateBack()">Сменить</button>
        </div>
    </div>
</nav>
<div class="catalog-wrapper">
    <div class="catalog-lbar">
        <button type="button" class="btn btn-primary btn-lg btn-block"
                ng-click="catalogCtrl.masterSearchWindow()"
                tooltip-placement="right" uib-tooltip="Комбинированный поиск">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-block"
                ng-click="catalogCtrl.masterInverseSelection()"
                tooltip-placement="right" uib-tooltip="Инверсия выбора">
            <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-block"
                tooltip-placement="right" uib-tooltip="Групповая установка свойств">
            <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
        </button>
    </div>
    <div class="catalog-content">
        <div class="catalog-top-grid-wrapper">
            <div id="mastergrid" ui-grid="catalogCtrl.masterGridOptions" ui-grid-selection ui-grid-pagination class="catalog-top-grid"></div>
        </div>
        <div class="catalog-bottom-grid-wrapper">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Отвязать">
                    <div id="syncedgrid" ui-grid="catalogCtrl.syncedGridOptions" ui-grid-selection class="catalog-bottom-grid"></div>
                </uib-tab>
                <uib-tab index="1" heading="Привязать">
                    <div id="slavegrid" ui-grid="catalogCtrl.slaveGridOptions" ui-grid-selection class="catalog-bottom-grid"></div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>