<div class="login-wrapper">
    <section class="container">
        <form name="loginForm" class="login-form" novalidate ng-submit="loginCtrl.doLogin()">
            <div class="form-group">
                <label>Логин</label>
                <input name="login" type="text" class="form-control" required ng-model="loginCtrl.user.login">
            </div>

            <div class="form-group">
                <label>Пароль</label>
                <input name="password" type="password" class="form-control" required ng-model="loginCtrl.user.password">
            </div>
            <button type="submit" class="btn btn-primary btn-block" ng-disabled="loginForm.$invalid">
                Войти
            </button>
            <!--button class="btn btn-primary btn-block" ng-disabled="loginForm.$invalid" ng-click="loginCtrl.doFakeHttpLogin()">
                Fake OK
            </button-->
        </form>
    </section>
</div>